<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Nike</title>
</head>
<body>
    <h1>About Nike</h1>
    <h2>NIKE</h2>
    <p>Somos "Nike" una empresa que implementa estilo en la sociedad, Vendemos:</p>
    <ul>
        <li>Zapatillas de alta gama.</li>
        <li>Buzos con estilos increibles.</li>
        <li>Pantalones de muy buena calidad</li>
    </ul>
    <h2 style="color:orangered">Just do it</h2>
</body>
</html>